<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos y componentes -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- HTMX para la carga dinámica -->
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <title>GYM</title>
</head>
<body class="bg-gray-50 text-gray-800">
    <!-- Navbar -->
    <div id="navbar" hx-get="/partials/navbar.html" hx-trigger="load"></div>

    <!-- Contenido principal -->
    <div id="hero" hx-get="/partials/hero.html" hx-trigger="load"></div>
    <!-- Footer -->
    <div id="footer" hx-get="/partials/footer.html" hx-trigger="load"></div>
</body>
</html>
